#order{
    width: 50%;
    height: 500px;
    margin: 100px auto;
}
table{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    /* 单元格间距 */
    border-spacing:0px;
    /* 合并单元格 */
    border-collapse:collapse;
}
tr,th,td{
    border: 1px solid #000;
    text-align: center;
}
th{
    background-color: rgba(155, 147, 147, 0.171);
}
h2{
    display: inline-block;
}